0 17 * * 1 osascript ~/bin/captains-log/captains-log.AppleScript 2>/tmp/captains-log.err
0 17 * * 2 osascript ~/bin/captains-log/captains-log.AppleScript 2>/tmp/captains-log.err
0 17 * * 3 osascript ~/bin/captains-log/captains-log.AppleScript 2>/tmp/captains-log.err
0 17 * * 4 osascript ~/bin/captains-log/captains-log.AppleScript 2>/tmp/captains-log.err
0 17 * * 5 osascript ~/bin/captains-log/captains-log.AppleScript 2>/tmp/captains-log.err
